* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.header {
    background-color: brown;
    height: 79px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.logo {
    font-size: 25px;
    font-weight: inherit;
    padding: 0 10px;
    line-height: 90px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 25px;
    margin: 0 10px;
    line-height: 90px;
}

.nav-menu-link:hover {
    background-color: #024070;
    transition: 1s;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 8px;
}
.center {
    text-align: center;
    font-size: 18px;
    background-color: beige;
}
.negrita{
    font-weight: bold;
}
.tamaño{
    font-size: xx-large
}
.cen{
     text-align: center;
    font-size: 22px;
}
.contenedor-imagenes {
  display: flex;
}

.contenedor-imagenes img:first-child {
  margin-right: 10px;
}